
<footer class="text-center bg-chess-footer text-white h-32 flex items-cente">
    <nav class="flex justify-around items-center w-screen">
          <a class="flex items-center invisible sm:visible" href="./index.html">
            <img class="mr-2" src="./assets/images/logo.png" alt="">Escacs Club
          </a>

      <ul class="flex">
        <li class="mr-6">
          <a href="members.html" class="nav_link">Membres</a>
        </li>
        <li class="mr-6">
          <a href="contact.html" class="nav_link">Contacte</a>
        </li>
      </ul>

      <ul class="flex">
       <a href=https://www.instagram.com/""><i class="mr-2 fa-brands fa-instagram fa-sm" style="color: #ffffff;"></i></a>
       <a href="https://es-es.facebook.com/"><i class="mr-2 fa-brands fa-facebook-f fa-sm" style="color: #ffffff;"></i></a>
       <a href="https://twitter.com/home?lang=ES"><i class="mr-2 fa-brands fa-twitter fa-sm" style="color: #ffffff;"></i></a>
      </ul>
    </nav>
</footer>
