<header class="text-center text-white h-32 flex items-cente ">
  <nav class="flex justify-around items-center w-screen">
        <a class="flex items-center " href="./index.html">
          <img class="mr-2" src="./assets/images/logo.png" alt="">Escacs Club
        </a>

    <ul class="flex">
      <li class="mr-6">
        <a href="members.html" class="nav_link">Membres</a>
      </li>
      <li class="mr-6">
        <a href="contact.html" class="nav_link">Contacte</a>
      </li>
    </ul>
  </nav>
</footer>

