@use "sass:color";

//Fonts
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

//Colors
$chess-bg-ft: #433a44; //color del footer
$chess-blanc: #ffff; //color blanc
$chess-primary: #bada55;

// Mida de Media Queries
$mqMinWidthPhone: 480px;
$mqMinWidthTablet: 768px;
$mqMinWidthDesktop: 1024px;
$mqMinWidthDesktopXL: 1920px;


// Modifiquem el color primary de Bootstrap
$theme-colors: (
 "primary": $chess-primary
);

// Modifiquem el radi de les vores dels components Bootstrap
$border-radius: 0.175rem;